[Unit]
Description=Gecko client service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /opt/geckoclient/client.py

[Install]
WantedBy=multi-user.target